.destination {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url('./../../assets/destination/background-destination-desktop.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  img {
    width: 50vw;
    height: 50vw;
    max-width: 445px;
    max-height: 445px;
    min-width: 175px;
    min-height: 175px;
    margin: auto;
  }
  &_aside {
    width: 50vw;
    height: auto;
    max-width: 472px;
    max-height: 472px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  .destination {
    img {
      width: 50vw;
      height: 50vw;
    }
    &_aside {
      width: 90%;
      margin: auto;
    }
  }
}
