.explore {
  position: absolute;
  top: 55%;
  left: 70%;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 274px;
  text-align: center;
  cursor: pointer;
}
