.title-page {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 100px 200px;
  font-size: 28px;
  letter-spacing: 5px;
  &--nmb {
    @include main-bolder-font;
    color: $SecondWhite;
    margin-right: 30px;
  }
  &--title {
    color: $MainWhite;
    @include main-light-font;
    width: 100%;
  }
}
