.destination {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url('./../../../assets/destination/background-destination-desktop.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  img {
    width: 445px;
    padding-left: 275px;
  }
  &_aside {
    width: 445px;
    height: 472px;
    margin: 0 auto;
    margin-top: 180px;
  }
}
