.hamburger-menu {
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: white;
  border-radius: 5px;
  margin: 7px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:hover .bar-top {
  transform: rotate(45deg);
}
.hamburger-menu:hover .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu:hover .bar-bottom {
  transform: rotate(-45deg);
}
