@import './../../style/sass/abstracts/mixins.scss';
//
.nav-planet {
  @include main-light-font;
  width: 100%;
  margin: auto;

  ul {
    display: flex;
    justify-content: space-between;
    width: 67%;
    li {
      font-size: 1.2rem;
      letter-spacing: 2.7px;
      a {
        padding: 15px 0;
        color: $MainPurple;
        border-bottom: transparent 4px solid;
        transition: 0.3s;
      }
      a:hover {
        border-bottom: $MainGrey 4px solid;
      }
      .active {
        color: $MainWhite;
        border-bottom: $MainWhite 4px solid;
      }
      .active:hover {
        border-bottom: $MainWhite 4px solid;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .nav-planet {
    ul {
      margin: auto;
    }
  }
}

@media screen and (max-width: 400px) {
  .nav-planet {
    margin: auto;
    ul {
      width: 80%;
      margin: 40px auto;
      li {
        margin: 0 10px;
        font-size: small;
      }
    }
  }
}
