@import './../../style/sass/1_Abstracts/mixins.scss';
//
.nav-planet {
  @include main-light-font;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-between;
    width: 67%;
    li {
      font-size: 20px;
      letter-spacing: 2.7px;
      a {
        padding: 15px 0;
        color: $MainPurple;
        border-bottom: transparent 4px solid;
        transition: 0.3s;
      }
      a:hover {
        border-bottom: $MainGrey 4px solid;
      }
      .active {
        color: $MainWhite;
        border-bottom: $MainWhite 4px solid;
      }
      .active:hover {
        border-bottom: $MainWhite 4px solid;
      }
    }
  }
}
