@import './../../style/sass/abstracts/mixins.scss';

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 35px 0 0 65px;
  height: 96px;
  line-height: 96px;
  z-index: 5;
  a {
    padding-top: 25px;
    img {
      display: block;
      cursor: pointer;
      z-index: 999;
      margin-right: 250px;
    }
  }
  nav {
    display: inline-block;
    background-color: $MainWhite;
    width: 60%;
    background-color: #97979712;
    backdrop-filter: blur(25px);
    font-size: 16px;
    letter-spacing: 5px;
    ul {
      display: flex;
      width: 70%;
      margin: auto;
      justify-content: space-between;
      li {
        a {
          padding: 35px 5px;
          border-bottom: transparent 4px solid;
          transition: 0.3s;
          .header-title {
            @include main-light-font;
          }
          .header-nmb {
            @include main-bolder-font;
          }
        }
      }
      a:hover {
        border-bottom: $MainGrey 4px solid;
      }
      .active {
        border-bottom: $MainWhite 4px solid;
      }
      .active:hover {
        border-bottom: $MainWhite 4px solid;
      }
    }
  }
  nav:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -440px;
    min-width: 460px;
    height: 2px;
    z-index: 5;
    background-color: $ThirdGrey;
  }
}
