@font-face {
  font-family: Bellefair;
  src: url('./../../../assets/fonts/Bellefair/Bellefair-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed_Lighter;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed_bld;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed_Regular;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf')
    format('truetype');
}

$FontSerif: Bellefair;
$FontSansSerif_Lgt: Barlow_Condensed_Lighter, 'sans serif';
$FontSansSerif_Rgl: Barlow_Condensed_Regular, 'sans serif';
$FontSansSerif_Bld: Barlow_Condensed_bld, 'sans serif';
