@import './../../style/sass/abstracts/mixins.scss';

.crew-info {
  margin-top: 105px;
  h2 {
    font-family: $FontSerif;
    font-weight: lighter;
    font-size: 32px;
    color: $MainGrey;
  }
  h1 {
    @include h1-pages;
  }
  p {
    @include para;
  }
}

@media screen and(max-width: 400px) {
  .crew-info {
    text-align: center;
    margin-top: 90px;
    h2 {
      font-size: 1.2em;
    }
    h1 {
      font-size: 2.1em;
    }
    p {
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}
