@import './../../style/sass/1_Abstracts/mixins.scss';
@import './../../style/sass/3_Bases/typo.scss';
@import './../../style/sass/3_Bases/colors.scss';
.crew-info {
  margin-top: 105px;
  h2 {
    font-family: $FontSerif;
    font-weight: lighter;
    font-size: 32px;
    color: $MainGrey;
  }
  h1 {
    @include h1-pages;
  }
  p {
    @include para;
  }
}
