@font-face {
  font-family: Bellefair;
  src: url('./../../../assets/fonts/Bellefair/Bellefair-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed_lgt;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed_bld;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf')
    format('truetype');
}

$FontSerif: Bellefair;
$FontSansSerif_Light: Barlow_Condensed_lgt;
$FontSansSerif_Bold: Barlow_Condensed_bld;
