@font-face {
  font-family: Bellefair;
  src: url('./../../../assets/fonts/Bellefair/Bellefair-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: Barlow_Condensed;
  src: url('./../../../assets/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf')
    format('truetype');
}

$FontSerif: Bellefair, 'Courier New';
$FontSansSerif: Barlow_Condensed;
