header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 65px;
  height: 100px;
  line-height: 100px;
  z-index: 5;
  img {
    display: block;
    margin: auto 0;
    cursor: pointer;
    z-index: 999;
  }
  nav {
    display: block;
    background-color: $MainWhite;
    width: 60%;
    background-color: #97979712;
    backdrop-filter: blur(25px);
    font-family: $FontSansSerif;
    font-size: 20px;
    letter-spacing: 5px;
    ul {
      display: flex;
      margin: auto 200px;
      justify-content: space-between;
      li {
        a {
          padding: 32px 5px;
          border-bottom: transparent 4px solid;
          transition: 0.3s;
          strong {
            font-weight: bolder;
          }
        }
      }
      a:hover {
        border-bottom: $MainGrey 4px solid;
      }
      .active {
        border-bottom: $MainWhite 4px solid;
      }
      .active:hover {
        border-bottom: $MainWhite 4px solid;
      }
    }
  }
  nav:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -650px;
    width: 700px;
    height: 1px;
    background-color: $MainGrey;
  }
}
