.main-page {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  color: $MainWhite;
  .main-aside {
    width: 70%;
    height: 700px;
    margin: 200px;
    margin-top: 500px;
  }
}
