@import './../../style/sass/abstracts/mixins.scss';

.explore_effect {
  position: relative;
  top: 50%;
  left: 67%;
  width: 274px;
  height: 274px;
  &--hover {
    position: absolute;
    top: 19%;
    left: 19%;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: $SecondGrey;
    z-index: 0;
    transition: 0.8s;
  }
  &--main {
    position: absolute;
    top: 19%;
    left: 19%;
    width: 274px;
    height: 274px;
    line-height: 274px;
    text-align: center;
    font-family: $FontSerif;
    font-size: 35px;
    border-radius: 50%;
    background-color: $MainWhite;
    color: $MainBlack;
    cursor: pointer;
    z-index: 555;
    &:hover + .explore_effect--hover {
      transform: scale(1.6);
    }
  }
}

@media screen and(max-width: 768px) {
  .explore_effect {
    top: 70%;
    left: 25%;
    width: 150px;
    height: 150px;
    &--hover {
      width: 150px;
      height: 150px;
    }
    &--main {
      width: 150px;
      height: 150px;
      line-height: 150px;
      font-size: 20px;
    }
  }
}
