.crew {
  position: absolute;
  background: url('./../../assets/crew/background-crew-desktop.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .crew-aside {
    img {
      position: absolute;
      bottom: 0;
      right: 10%;
      width: auto;
      height: auto;
    }
  }
}
