@import './../../style/sass/1_Abstracts/mixins.scss';

.intro {
  position: absolute;
  top: 40%;
  left: 12%;
  width: 460px;
  height: auto;
  color: $MainWhite;
  h1 {
    font-family: $FontSerif;
    font-size: 150px;
    font-weight: lighter;
    margin: 35px 0 50px -13px;
  }
  h5,
  p {
    @include main-light-font;
    color: $MainPurple;
  }
  h5 {
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: lighter;
  }
  p {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}
