@import './../../style/sass/abstracts/mixins.scss';

.title-page {
  display: flex;
  width: 390px;
  margin: 200px 200px 100px 200px;
  font-size: 28px;
  letter-spacing: 5px;
  &--nmb {
    @include main-bolder-font;
    color: $MainGrey;
    margin-right: 22px;
  }
  &--title {
    color: $MainWhite;
    @include main-light-font;
    width: auto;
  }
}
