@import './../bases/colors.scss';
@import './../bases/typo.scss';

@mixin main-light-font {
  font-family: $FontSansSerif_Lgt;
}

@mixin main-bolder-font {
  font-family: $FontSansSerif_Bld;
}

@mixin main-Regular-font {
  font-family: $FontSansSerif_Rgl;
}

@mixin para {
  @include main-light-font;
  position: relative;
  width: 450px;
  padding-bottom: 50px;
  color: $MainPurple;
  font-size: 19px;
  line-height: 35px;
  letter-spacing: 1.5px;
}

@mixin h1-pages {
  font-family: $FontSerif;
  font-weight: lighter;
  font-size: 56px;
  color: $MainWhite;
  margin: 25px 0;
}
